<div class="grid">
	<div class="col-12">
		<div class="card">
			<h5>Resident List</h5>
			<p-table #dt1 [value]="dataSource" dataKey="id" [rows]="10" [loading]="loading" [rowHover]="true"
				styleClass="p-datatable-gridlines p-datatable-sm" [paginator]="true"
				[globalFilterFields]="['name','country.name','representative.name','status']" responsiveLayout="scroll">
				<ng-template pTemplate="caption">
					<div class="flex justify-content-between flex-column sm:flex-row">
						<span class="p-input-icon-left mb-2">
							<i class="pi pi-search"></i>
							<input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)"
								placeholder="Search Keyword" class="w-full" />
						</span>
						<button (click)="create()" pTooltip="Create a Resident" tooltipPosition="bottom" type="button"
							label="Create a Resident" severity="success" pButton pRipple icon="pi pi-plus" size="small"
							[rounded]="true"></button>
					</div>
				</ng-template>
				<ng-template pTemplate="header">
					<tr>
						<th style="min-width: 12rem">
							<div class="flex justify-content-between align-items-center">
								Application Date
							</div>
						</th>
						<th style="min-width: 12rem">
							<div class="flex justify-content-between align-items-center">
								Working Permit No.
							</div>
						</th>
						<th style="min-width: 12rem">
							<div class="flex justify-content-between align-items-center">
								Full Name
							</div>
						</th>
						<th style="min-width: 14rem">
							<div class="flex justify-content-between align-items-center">
								Address
							</div>
						</th>
						<th style="min-width: 10rem">
							<div class="flex justify-content-between align-items-center">
								Type of Application
							</div>
						</th>
						<th style="min-width: 10rem">
							<div class="flex justify-content-between align-items-center">
								Status Application
							</div>
						</th>
						<th style="min-width: 8rem">
							<div class="flex justify-content-between align-items-center">
								Action
							</div>
						</th>
					</tr>
					<tr>
						<th> </th>
						<th>
							<span class="p-input-icon-left">
								<i class="pi pi-search"></i>
								<input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)"
									placeholder="Search" />
							</span>
						</th>
						<th>
							<span class="p-input-icon-left">
								<i class="pi pi-search"></i>
								<input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)"
									placeholder="Search" />
							</span>
						</th>
						<th>
							<span class="p-input-icon-left">
								<i class="pi pi-search"></i>
								<input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)"
									placeholder="Search" />
							</span>
						</th>
						<th>
							<p-columnFilter field="application_type" matchMode="in" [showMenu]="false">
								<ng-template pTemplate="filter" let-value let-filter="filterCallback">
									<p-multiSelect appendTo="body" [options]="types" placeholder="Any"
										(onChange)="filter($event.value)" optionLabel="permit_type"
										[maxSelectedLabels]="1" [selectedItemsLabel]="'{0} items'">
										<span class="ml-1 mt-1">{{ permit_type }}</span>
									</p-multiSelect>
								</ng-template>
							</p-columnFilter>
						</th>
						<th>
							<p-columnFilter field="application_status" matchMode="in" [showMenu]="false">
								<ng-template pTemplate="filter" let-value let-filter="filterCallback">
									<p-multiSelect appendTo="body" [options]="statuses" placeholder="Any"
										(onChange)="filter($event.value)" optionLabel="application_type"
										[maxSelectedLabels]="1" [selectedItemsLabel]="'{0} items'">
										<span class="ml-1 mt-1">{{ application_type }}</span>
									</p-multiSelect>
								</ng-template>
							</p-columnFilter>
						</th>
						<th></th>
					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-data>
					<tr>
						<td>

						</td>
						<td>

						</td>
						<td>

						</td>
						<td>

						</td>
						<td>

						</td>
						<td>

						</td>
						<td>
							<button type="button" pTooltip="Edit record" tooltipPosition="bottom" pButton pRipple
								icon="pi pi-plus" size="small"></button>
							<button type="button" pTooltip="Remove record" tooltipPosition="bottom" pButton pRipple
								icon="pi pi-plus" size="small"></button>

						</td>
					</tr>
				</ng-template>
				<ng-template pTemplate="emptymessage">
					<tr>
						<td colspan="8">No record found.</td>
					</tr>
				</ng-template>
				<ng-template pTemplate="loadingbody">
					<tr>
						<td colspan="8">Loading data. Please wait..</td>
					</tr>
				</ng-template>
			</p-table>
		</div>
	</div>
</div>