<form ngForm>
    <div class="grid w-full">
        <div class="col-12">
            <div class="p-fluid p-formgrid grid">
                <div class="field col-6">
                    <label htmlFor="newPassword">Parent Form Name</label>
                    <input pInputText id="newPassword" type="text" />
                </div>
                <div class="field col-6">
                    <label htmlFor="newPassword">Form Name</label>
                    <input pInputText id="newPassword" type="text" />
                </div>
                <div class="field col-12">
                    <label htmlFor="reTypePassword">Description</label>
                    <input pInputText id="reTypePassword" type="text" />
                </div>
                <div class="field col-12">
                    <label htmlFor="reTypePassword">Route</label>
                    <input pInputText id="reTypePassword" type="text" />
                </div>
            </div>
        </div>
    </div>
</form>