<form ngForm [formGroup]="form">
    <div class="p-fluid grid">
        <div class="col-12">
            <div class="field">
                <label htmlFor="description">Line of Business</label>
                <p-dropdown [options]="line_businesses" optionLabel="description" [showClear]="true" [filter]="true"
                    filterBy="description" placeholder="Select a Line of Business." formControlName="line_business">
                </p-dropdown>
            </div>
            <div class="field">
                <label>Measure or Pax</label>
                <p-dropdown [options]="measure_pax" optionLabel="description" [showClear]="true" [filter]="true"
                    filterBy="description" placeholder="Select a Measure or Pax." formControlName="measure_pax">
                </p-dropdown>
            </div>
            <div class="field">
                <div class="grid">
                    <div class="md:col-6">
                        <label>Units</label>
                        <p-inputNumber mode="decimal" [showButtons]="true" inputId="minmax-buttons" [min]="0"
                            formControlName="number_units"> </p-inputNumber>
                    </div>
                    <div class="md:col-6">
                        <label>Capital Investments</label>
                        <p-inputNumber mode="decimal" [showButtons]="true" inputId="minmax-buttons" [min]="0"
                            formControlName="capacity"> </p-inputNumber>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="flex w-full justify-content-end gap-4">
        <p-button type="button" [label]="setActionSelector" icon="pi pi-save" (onClick)="add()"></p-button>
        <p-button type="button" label="Cancel" icon="pi pi-times" (onClick)="close()" severity="secondary"></p-button>
    </div>

</form>