<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center">

        <div style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
            <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
                <div class="text-center mb-5">
                    <div class="text-900 text-3xl font-medium mb-3">SIGN UP</div>
                    <!-- <span class="text-600 font-medium">Sign in</span> -->
                </div>

                <div>
                    <form action="" autocomplete="off" [formGroup]="signUp">
                        <div class="flex align-items-center justify-content-between mb-3 gap-5">
                            <input type="text" placeholder="Employee Number" pInputText class="w-full md:w-30rem" style="padding:1rem" formControlName="emp_id">
                        </div>
                        <div class="flex align-items-center justify-content-between mb-3 gap-5">
                            <input type="text" placeholder="Username" pInputText class="w-full md:w-30rem" style="padding:1rem" formControlName="username">
                        </div>
                        <div class="flex align-items-center justify-content-between mb-3 gap-5">
                            <input type="text" placeholder="Password" pInputText class="w-full md:w-30rem" style="padding:1rem" formControlName="password">
                        </div>
                        <div class="flex align-items-center justify-content-between mb-3 gap-5">
                            <input type="text" placeholder="Mobile number or Email" pInputText class="w-full md:w-30rem" style="padding:1rem" formControlName="mobile_email">
                        </div>
                        <p-toast position="top-center" [life]="1000"></p-toast>
                        <div class="flex align-items-center justify-content-between mb-3 gap-5">
                            <button pButton pRipple label="Sign Up" class="w-full" (click)="submit()"></button>
                            <button pButton pRipple label="Cancel" class="w-full p-button-secondary" severity="secondary" [routerLink]="['/login']"></button>
                        </div>
                    
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
