<div class="grid">
    <div class="col-12">
        <div class="card">
            <h5>Create a Resident</h5>
            <div class="p-fluid p-formgrid grid">
                <div class="col-12 md:col-3">
                    <label htmlFor="prefix">Prefix</label>
                    <input pInputText id="prefix" type="text" />
                </div>
                <div class="col-12 md:col-3">
                    <label htmlFor="firstname">Firstname</label>
                    <input pInputText id="firstname" type="text" />
                </div>
                <div class="col-12 md:col-3">
                    <label htmlFor="middlename">Middlename</label>
                    <input pInputText id="middlename" type="text" />
                </div>
                <div class="col-12 md:col-3">
                    <label htmlFor="lastname">Lastname</label>
                    <input pInputText id="lastname" type="text" />
                </div>
                <div class="col-12 md:col-3">
                    <label htmlFor="suffix">Suffix</label>
                    <input pInputText id="suffix" type="text" />
                </div>
                <div class="col-12 md:col-3">
                    <label htmlFor="birthDate">Birthdate</label>
                    <p-calendar [iconDisplay]="'input'" view="year" [showIcon]="true"></p-calendar>
                </div>
                <div class="col-12 md:col-3">
                    <label htmlFor="gender">Gender</label>
                    <input pInputText id="gender" type="text" />
                </div>
                <div class="col-12 md:col-3">
                    <label htmlFor="religion">Religion</label>
                    <input pInputText id="religion" type="text" />
                </div>
                <div class="col-12 md:col-3">
                    <label htmlFor="civilStatus">Civil Status</label>
                    <p-dropdown [options]="enums.civil_staus" optionLabel="name" [showClear]="true" [filter]="true"
                        filterBy="name" placeholder="Select a civil status">
                    </p-dropdown>
                </div>
                <div class="col-12 md:col-3">
                    <label>Affilations</label>
                    <p-dropdown [options]="enums.Affilations" optionLabel="name" [showClear]="true" [filter]="true"
                        filterBy="name" placeholder="Select an affiliated">
                    </p-dropdown>
                </div>
                <div class="col-12 md:col-3">
                    <label htmlFor="barangay">Barangay</label>
                    <input pInputText id="barangay" type="text" [value]="barangay" readonly/>
                </div>
                <div class="col-12 md:col-3">
                    <label>Purok</label>
                    <p-dropdown [options]="enums.Affilations" optionLabel="name" [showClear]="true" [filter]="true"
                        filterBy="name" placeholder="Select a purok">
                    </p-dropdown>
                </div>
            </div>
            <div class="col-12">
                <span class="flex justify-content-end gap-2">
                    <button pButton pRipple label="Save" icon="pi pi-save"></button>
                    <button pButton pRipple label="Cancel" icon="pi pi-times"></button>
                </span>
            </div>
        </div>
    </div>
</div>