<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center">

        <div style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
            <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
                <div class="text-center mb-5">
                    <div class="text-900 text-3xl font-medium mb-3">RESET YOUR ACCOUNT</div>
                    <!-- <span class="text-600 font-medium">Sign in</span> -->
                </div>

                <div>
                    <form action="" [formGroup]="forgotPasswordForm" autocomplete="off">
                        <label for="email" class="block text-900 text-xl font-medium mb-2">Email Address</label>
                        <input id="email" type="text" placeholder="Email Address" pInputText class="w-full md:w-30rem mb-5 " style="padding:1rem" formControlName="emailAddress">
                        <!-- <p-message severity="error" text="Field is required"></p-message> -->
                        <p-toast position="top-center"></p-toast>
                        <div class="flex align-items-center justify-content-between mb-5 gap-5">
                            <button pButton pRipple label="Cancel" class="w-full p-button-secondary" (click)="cancel()" severity="secondary"></button>
                            <button pButton pRipple label="Reset" class="w-full" (click)="reset()"></button>
                        </div>
                    
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
